/* Definimos que todos los margin y padding son 0 dado que cada browser maneja valores distintos */
*{
    padding: 0px;
    margin: 0px;
    /* Pregunta: ¿Esto debería ir aquí y luego ser pisado si se requiere? */
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

/* ********************************************************** */
/* HEADER STYLES */
/* ********************************************************** */

.header{
    /* . refers to the current folder, .. refers to the parent directory and that one should be used. */
    background-image: url("../img/header/Masthead_Background_Desktop.png"); 
    background-color: #a8a8a828;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh; 
}

.header__flexNavbar ul{
    padding: 2rem;
}

.header__flexNavbar li{
    /* indico que se muestran en línea */
    display: inline-block;
}

.header__flexNavbar a {
    /* La propiedad CSS text-decoration se usa para establecer el formato de texto a subrayado (underline) y suprarrayado (overline), tachado (line-through) o parpadeo (blink). */
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    font-size: 1rem;
    background-color: #222222;
    padding: 1.1rem;
    /* border-color: oldlace; */
    margin-bottom: 1.1rem;
    margin-top: 1.1rem ;
}

/* .header__contenedorFlex{
    display: flex;
    justify-content: space-around;
} */

.header__flexNavbar{
    display: flex;
    justify-content: space-around;
}

.header__logo img{
    max-height: 2rem;
}

.header__logo span{
    color:oldlace;
}

.header__logo{
    /* Ver COMO CENTRAR */
}
#title__header{
    color: aliceblue;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    font-size: 3rem;
    padding-right: 50%;
    padding-left: 2rem;
}
#subtitle__header{
    color: aliceblue;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    font-size: 2rem;
    padding-right: 50%;
    padding-left: 2rem;
    padding-right: 50%;
    padding-left: 2rem;

}


/* ********************************************************** */
/* Product styles */
/* ********************************************************** */

.videoDiv{
    height: 40vh;
}

.div__product{

    background-color: #222222;

    display: grid;

    grid-template-areas: 
    "imgProd imgLogo"
    "imgProd divText"
    "imgProd divFeatures"
    "imgProd divMatSize";

    grid-template-rows: 150px 110px 100px 100px; /*No pude usar fracciones*/
    grid-template-columns: 50% auto;
    grid-column-gap: 0px;
    /* el 100% de la ventana. Es parecido al %, pero aveces no funciona si no tenes medida de referencia anterior */
    /* height: 100vh;   */
    color:#d2d5d8;
    font-family: 'Roboto';

    /* height: 80vh;  */
}

.divFeatures{
    grid-area: divFeatures;

    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
}

.imgProd{
    grid-area: imgProd;
    text-align: center; /* El centrado de la imagen está sugeto al centrado del texto a menos que tenga display definido*/
    

}
.imgLogo{
    grid-area: imgLogo;
    padding: 2%;
}
.divText{
    grid-area: divText;    
}
.pTitle__divText{
    padding: 0.5rem;
    /* font-weight: 400; */
    font-display: swap;
    /* font-size: 1.3rem; */
    /* vertical-align: middle; */
}
.pText__divText{
    padding: 0.5rem;
    font-weight: 100;
    font-display: swap;
    font-size: 1rem;
    /* vertical-align: middle; */
}

.divMatSize{
    grid-area: divMatSize;
    padding: 0.5rem;
    
}

.div__product img{
    width: auto;
    height: 100%;
}

/* .li__divFeatures{
    
} */
.img__li__divFeatures{
    width: auto;
    height: 50%;
}

.product_tittle{
    font-weight: 400;
    font-size: 1.3rem;
}
.product_text{
    font-weight: 100;
    font-size: 1rem;
}



/* .prodFlexDiv{
    display: flex;
    flex-direction: row;
    background-color: slategrey;
}

.prodFlexDiv__specsFlexDiv{
    display: flex;
    flex-direction: column;
}
.prodFlexDiv__Img{
    max-width: 50%;
}
.prodFlexDiv__specsFlexDiv__img{
    max-width: 50%;
} */



/*VISTA MOVIL */

@media only screen and (max-width:599px) {
    
    .div__product{
        grid-template-areas: 
        " imgProd"
        " imgLogo"
        " divText"
        " divFeatures"
        " divMatSize";

        grid-template-rows: 300px 150px 110px 100px 100px; /*No pude usar fracciones*/
        /* grid-template-columns: auto; */
        grid-column-gap: 0px;
        width: 100%;
    }

}