* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* add to align vertical */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  color: #464646;
  margin-top: 20px;
  margin-bottom: 20px;
}

.awards p {
  text-align: center;
  font-size: 15px;
}

.awards h5 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.awards h6 {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
}

.awards .awards__div {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awards .awards__div .awards__subdiv {
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.awards .awards__div .awards__subdiv .awards__subdiv__imgdiv {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* add to align vertical */
}

.awards .awards__div .awards__subdiv .awards__subdiv__imgdiv img {
  width: 100%;
  z-index: -1;
}

.customers {
  color: #464646;
}

.customers h5 {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.customers .brands {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.customers .brands_slider_container {
  height: 130px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.customers .brands_slider {
  height: 100%;
  margin-top: 50px;
}

.customers .brands_item {
  height: 100%;
}

.customers .brands_item img {
  height: 50px;
}

.customers .brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.customers .brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.customers .brands_nav:hover i {
  color: #676767;
}

.customers .brands_prev {
  left: 40px;
}

.customers .brands_next {
  right: 40px;
}

.footer {
  background-color: #222222;
  color: #d0d1d1;
  font-weight: 300;
}

.footer ul {
  list-style-type: none;
}

.footer h6 {
  font-weight: 700;
}

.footer .footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5rem 1rem;
}

.footer .footer__div h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  letter-spacing: 2px;
}

.footer .footer__div ul {
  padding: 0rem 1.9rem 0rem 0.7rem;
}

.footer .footer__div .t1 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.7rem;
  color: #f4f4f4;
}

.footer .footer__div .t2 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  color: #a3a6a8;
}

.footer .footer__div .footer__div__container {
  width: 25%;
}

.footer .footer__div #frase {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.footer .footer__div #autor {
  font-weight: 300;
  font-size: 1rem;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .awards__div {
    max-width: 1200px !important;
  }
}

@media (max-width: 576px) {
  .awards h5 {
    font-size: 8vw;
  }
  .awards .awards__div {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* add to align vertical */
  }
  .awards .awards__div .awards__subdiv {
    max-width: 70% !important;
  }
  .footer .footer__div {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* add to align vertical */
  }
  .footer .footer__div .footer__div__container {
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=estilos-scss.css.map */