* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #505050;
  }

  :root {
    --soft-gray: #b9b5b5;
  }

  /* Cambio color del placeholder */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--soft-gray);
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--soft-gray);
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--soft-gray);
  }
  
  input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 40px;
   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */
  }
  .submit_div{
    padding: 0px 10px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 40px 20px;
  }
  
  .col-25 {
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    width: 75%;
    margin-top: 6px;
  }
  
  .col-90 {
    width: 90%;
    margin-top: 6px;
  }

  .row-x2{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }
  .row-x2-div{
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Menor a 600px wide*/
  @media screen and (max-width: 600px) {
    .col-25, .col-75, .col-90, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
    .row-x2{
        flex-direction: column; 
    }
    .row-x2-div{
        width: 100%;
    }
  }