*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

// index.html
.awards{
    display: flex; 
    align-items: center; /* add to align vertical */
    flex-direction: column;
    font-weight: 300;
    color: #464646;
    margin-top: 20px;
    margin-bottom: 20px;

    p{
        text-align: center;
        font-size: 15px;
    }
    h5{
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    h6{
        text-align: center;
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .awards__div{
        max-width: 100%;
        display: flex;
        
        .awards__subdiv{
            max-width: 25%;
            padding-left: 15px;
            padding-right: 15px;

            .awards__subdiv__imgdiv{
                height: 200px;
                display: flex; 
                // justify-content: center; /* add to align horizontal */
                align-items: center; /* add to align vertical */
             
                img{
                    width: 100%;
                    z-index: -1;
                }
            }
        }
    }
}


.customers{

    color: #464646;
        
    h5{
        display: block;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .brands {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px
    }

    .brands_slider_container {
        height: 130px;
        padding-left: 20px;
        padding-right: 20px;
        background: #fff
    }

    .brands_slider {
        height: 100%;
        margin-top: 50px
    }

    .brands_item {
        height: 100%
    }

    .brands_item img {
        height: 50px;
    }

    .brands_nav {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 5px;
        cursor: pointer
    }

    .brands_nav i {
        color: #e5e5e5;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease
    }

    .brands_nav:hover i {
        color: #676767
    }

    .brands_prev {
        left: 40px
    }

    .brands_next {
        right: 40px
    }

}

.footer{

    background-color: #222222;
    color: #d0d1d1;
    font-weight: 300;

    ul{
        list-style-type: none;
    }

    h6{
        font-weight:700;
    }

    // color: #464646;
    // div,h6,ul,li{
    //     border: solid;
    //     border-color: rgb(207, 66, 66);
    //     border-width: 1px;
    // }

    .footer__div{
        display: flex;
        flex-direction: row;
        padding: 1.5rem 1rem;

        h6{
            font-style: normal;
            font-weight: 700;
            font-size: 0.8rem;
            line-height: 1rem;
            color: #ffffff;
            letter-spacing: 2px;
        }

        ul{
            padding: 0rem 1.9rem 0rem 0.7rem ;
        }

        .t1{
            font-style: normal;
            font-weight: 400;
            font-size: 0.85rem;
            line-height: 1.7rem;
            color: #f4f4f4;
        }

        .t2{
            font-style: normal;
            font-weight: 400;
            font-size: 0.7rem;
            color: #a3a6a8;
        }

        .footer__div__container{
            width: 25%;
        }

        #frase{
            font-weight:500;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #ffffff;
        }

        #autor{
            font-weight:300;
            font-size: 1rem;
            color: #ffffff;
        }
    }    
     

}
// max 575px
// min 576px max 767px
// min 768px max 991px

@media (min-width: 1200px) {
    .awards__div{ 
        max-width: 1200px !important;
    }
}

@media (max-width: 576px) {
    .awards{
        h5{
            font-size: 8vw;
        }
        .awards__div{

            flex-direction: column !important;
            align-items: center; /* add to align vertical */
            // background-color: red;

            .awards__subdiv{
                max-width: 70% !important;
            }
        }
    }

    .footer{
        // background-color: red;
        .footer__div{
            flex-direction: column !important;
            align-items:flex-start; /* add to align vertical */

            .footer__div__container{
                // max-width: 70vw !important;
                width: 75%;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
