<div class="footer">
    <div class="footer__div">
        <div class="footer__div__container">
            <h6>NUESTRO SITIO</h6>
            <ul>
                <li> <a class="t2" href="index.html">Productos</a> </li>
                <li> <a class="t2" href="servicios.html">Servicios</a> </li>
                <li> <a class="t2" href="clientes.html">Clientes</a> </li>
                <li> <a class="t2" href="nosotros.html">Nosotros</a> </li>
                <li> <a class="t2" href="contacto.html">Contacto</a> </li>
            </ul>
        </div>
        <div class="footer__div__container">
            <h6>CONTACTANOS</h6>
            <ul>
                <li class="t1">Ventas:</li>
                <li class="t2">Oficina comercial: Avenida Córdoba 6087 4A, CABA</li>
                <li class="t2">info@maker3D.com</li>
                <li class="t2">11 3254-8811</li>

                <div class="footer__flexDiv__spacer">
                    <hr>
                </div>

                <li class="t1">Soporte técnico:</li>
                <li class="t2">Oficina técnica: Av Belgrano 4067, CABA</li>
                <li class="t2">Soporte@maker3D.com</li>
                <li class="t2">11 5577-3812</li>
            </ul>
        </div>
        <div class="footer__div__container">
            <h6>I+D & WAREHOUSE</h6>
            <ul>
                <!-- <li> <span class="t1">Warehouse:</span></li>
                <li> <span class="t2">Herrera 1253 - Barracas, CABA</span></li> -->
                <li class="t1">Warehouse:</li>
                <li class="t2">Herrera 1253 - Barracas, CABA</li>

                <div class="footer__flexDiv__spacer">
                    <hr>
                </div>

                <li class="t1">Ingeniería:</li>
                <li class="t2">Oficina: Av Córdoba 6087</li>
            </ul>
        </div>
        <div class="footer__div__container">
            <ul>
                <!-- PREGUNTA: Es correcto usar un ID para este caso? -->
                <li>
                    <p id="frase">“Cualquier tecnología suficientemente avanzada es indistinguible de la magia”</p>
                </li>
                <li><span id="autor">Arthur C. Clarke.</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer__flexDiv__spacer">
    <hr>
</div>
<div class="footer__barDiv">© 2021 - Diseñado por Maximiliano Bertotto</div>