<!-- HEADER compartido -->

<nav class="header__flexNavbar">
    <div class="header__logo">
        <img src="./img/icons/Nebula_Simbol.png" alt="iconoMarca">
        <span> maker3D</span>
    </div>

    <!-- Listas no ordenadas -->
    <ul class="header__navbar--principal">
        <!-- Enlaces relativos -->
        <li> <a href="index.html">Home</a> </li>
        <li> <a href="productos.html">Productos</a> </li>
        <li> <a href="servicios.html">Servicios</a> </li>
        <li> <a href="nosotros.html">Nosotros</a> </li>
        <li> <a href="contacto.html">Contacto</a> </li>
    </ul>
</nav>
<p id="title__header">Bienvenidos al Universo Maker3D</p>
<p id="subtitle__header">La marca lider en impresión 3D</p>